.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.4;
  white-space: nowrap;
}

.bubble {
  cursor: pointer;
  transition: filter 0.3s ease;
}
.bubble:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
