.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #333;
}
